<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css"
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This website was created by Tejas Trivedi.It uses data from weatherstack.com</p>

        </div>
        
        {{>footer}}
    </body>
</html>